.container {
    padding-top: 10px;
    margin-left: 50px;
    width: 700px;
    font-family: RockwellBold, Georgia, Times, serif;
}

.form-horizontal {
    width: 100%;
}

input[type="text"] {
    height: 25px;
}

.navbar {
  border-bottom: 1px solid #F60;
  min-height: 40px;
}

.navbar .nav > li > a {
  color: #2e95dc;
  padding-bottom: 0px;
}

.form-horizontal .control-label {
    text-align: left;
}

.petclinic-header {
  font-size: 30px;
  font-family: "Rockwell";
  color: #2e95dc;
  font-weight: bold;
  text-align: justifyLeft;
}

.A_Spring_Framework_Demonstration {
  font-size: 10px;
  font-family: "Rockwell";
  color: #2e95dc;
  font-weight: bold;
  line-height: 0.95;
  text-align: justifyLeft;
}